<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.wang.jianing.app.OpenInTerminal</string>
	</array>
	<key>com.apple.security.automation.apple-events</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.systemevents</string>
		<string>com.apple.Terminal</string>
		<string>com.apple.Finder</string>
		<string>com.googlecode.iterm2</string>
		<string>co.zeit.hyper</string>
		<string>io.alacritty</string>
		<string>com.microsoft.VSCode</string>
		<string>com.github.atom</string>
		<string>com.sublimetext.3</string>
		<string>com.barebones.bbedit</string>
		<string>com.microsoft.VSCodeInsiders</string>
		<string>com.macromates.TextMate</string>
	</array>
</dict>
</plist>
